<section class="">
  <div class="splash_container">
    <h1 class="splash_name">
      Budget App
    </h1>
        <p class="splash_p">
      A user-friendly app to help you track your expenses.
    </p>
    </div>
    <div class="">
      <%= button_to "SIGN IN", new_user_session_path, method: :get, class: 'login_splash' %>
      <%= button_to "SIGN UP", new_user_registration_path, method: :get, class: 'logout_splash' %>
  </div>
</section>