<section class="">
  <div class="">
    <h1 class="">
      Budget Tracker
    </h1>
        <p class="">
      A user-friendly app to help you track your expenses.
    </p>
    <div class="">
      <%= button_to "SIGN IN", new_user_session_path, method: :get, class: '' %>
      <%= button_to "SIGN UP", new_user_registration_path, method: :get, class: '' %>
    </div>
  </div>
</section>